/*********************/
    /*media queries*/
/*********************/
@media(max-width:20rem){
    .top{top:7%;}
  }
  
  @media(max-width:50rem){
    .top{top:5%;}
  /*utilities*/
  .flex-columns{
    flex-direction: column;
    padding:0.625rem;
  }
  .flex-items{
    justify-items: flex-end;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin:0.625rem;
  }
  
  /*navegation*/
  #navbar #main-nav{display: none;}
  
  #navbar #main-nav li{
      padding:0.625rem 0;
      display: block;
  }
    
  #mobile-nav{  display: block;}
  
  #mobile-nav span{display:block;}
  
  .top{border: 1px solid #7a8080;}
  
  
  /*showcase*/
  .showcase{
    overflow: hidden;
    width:100%;
    height:100%;
  }
  /*showcase*/
  .showcase img{width: 100%;}
  
  .showcase h1{font-size: 3rem;}
  
  .showcase .box-plano{text-align: center;}
  
  #empresa .box-text{width: 100%;}
  
  #servico .plano-servico{
      margin-right: 0;
      margin-top:2rem;
    }
  
  
    /*servico*/
    #servico .plano-servico{
      width:100%;
      padding: 1.5rem;
    }
    /*blockChain*/
    #blockChain img{width:100%;}
  
  
    /*contato*/
    #contato .flex-items .item{text-align: left;}
    #contato a{margin-left: 0;}
    #contato .flex-items .item:first-child{ margin-bottom: 1rem;}
    #contato{padding: 0.625rem;}
  }
  
  @media(max-width:64rem){
    .logo,
    #servico,
    #empresa,
    #blockChain,
    #contato{ padding:0.625rem;}
     
  }